/* BACKGROUND */
#background {
	/* div fit */
	height: 100vh;
	width: 100vw;
	position: fixed;
	inset: 0 0 0 0;
	z-index: -1;
	/* appearance */
	background-image: url("assets/images/kitties/washington.png");
	background-color: rgba(0,10,0,0.93);
	background-blend-mode: overlay;
	background-size: 100px;
	/* scroll and appear animation */
	visibility: hidden;
	animation: appear 3s ease-in forwards, bgScroll 50s linear infinite;
}



/* ANIMATIONS */
@keyframes bgScroll {
	from {
		background-position: bottom left;
	}
	to {
		background-position: top right;
	}
}

@keyframes appear {
	from {
		visibility: hidden;
	}
	to {
		visibility: visible; 
	}
}



/* BASIC TAB PROPERTIES */
.tab {
	background-color: rgba(103,117,95,1.00);
	position: absolute;
	border: 4px solid rgba(103,117,95,1.00);
}

#header {
	background-color: #353C31;
	border-bottom: 4px solid rgba(103,117,95,1.00);
	width: 100%;
	height: 25px;
	color: rgba(103,117,95,1.00);
	cursor: move;
}



/* INDIVIDUALISTIC TABS */
#mydiv {
	width: 750px;
	height: 400px;
	background-color: rgba(40,46,37,1.00)
}
