#background {
	/* div fit */
	height: 100vh;
	width: 100vw;
	position: fixed;
	inset: 0 0 0 0;
	z-index: -1;
	/* appearance */
	background-image: url("assets/images/kitties/washington.png");
	background-color: rgba(0,10,0,0.93);
	background-blend-mode: overlay;
	background-size: 100px;
	/* scroll and appear animation */
	visibility: hidden;
	animation: appear 3s ease-in forwards, bgScroll 50s linear infinite;
}
@keyframes bgScroll {
	from {
		background-position: bottom left;
	}
	to {
		background-position: top right;
	}
}

@keyframes appear {
	from {
		visibility: hidden;
	}
	to {
		visibility: visible; 
	}
}


.tab {
	background-color: rgba(103,117,95,1.00);
	position: relative;
	border: 2px solid rgba(103,117,95,1.00);
}

#termStart {
	width: 750px;
	height: 400px;
	left: 50px;
	top: 100px;
	
	background-color: rgba(40,46,37,1.00)
}

.tab nav {
	background-color: #353C31;
	border: 2px solid rgba(103,117,95,1.00);
	width: 99.6%;
	height: 25px;
	
}

.tab nav p {
	color: rgba(103,117,95,1.00);
	
}
